.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(1, 101, 188);; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2s steps(25, end), blink-caret .75s step-end infinite;
  justify-content: center;
  color: #F75D59;
  font-family: 'Roboto Mono', monospace;

}

h1{
    font-size: 5vw;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #616161;
  }
}

.typewriter{
    justify-content: center;
    margin: 15% 25%;
}